# IDEs & OS
.vscode/
.idea/
.DS_Store

# Environment & Secrets
.env
*.env
infra/vault/data/
vault-init.json

# Build & Dependencies
node_modules/
dist/
tmp/
build/
bin/
__pycache__/
*.pyc
target/
.elixir_ls/
_build/
deps/
bazel-*
